* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-image: url("/src/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin-inline: 150px;
}

main {
    text-align: center;
}

header img {
    margin-left: 50px;
    padding-top: 38.5px;
    width: 170px;
}

h1,
h2,
h3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

h2 {
    font-size: 25px;
    margin-block: 15px;
}

h3 {
    font-size: 50px;
    margin: 0;
}

h4 {
    margin-top: 40px;
    font-weight: bold;
}

span {
    font-size: 50px;
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: #00ffff;
}

p {
    margin: 0;
}

div {
    display: inline-block;
    width: 250px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

button {
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 260px;
    padding: 20px;
    background-color: transparent;
    border: 3px solid white;
    box-shadow: 0 0 20px rgba(79, 255, 255, 0.3);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* .ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 40px;
    border-color: #00ffff;
} */

.divLeft {
    text-align: left;
}

.divRight {
    text-align: right;
}

/* .paragraphIntoCircle {
    padding-inline: 30px;
    font-size: 14px;
    font-weight: 100;
} */


.circle-container {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#00b0ff 66%, #ff0066 0 100%);
    mask: radial-gradient(farthest-side, transparent calc(100% - 20px), black 100%);
  
}

.inner-content {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    z-index: 1; 
    flex-direction: column; 
}

