/* Reset default style*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("/src/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}

/* Logo*/
.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px; /* we can change size the logo*/
}





/* Timer*/
.timer-container {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#00b0ff 100%, transparent 0%); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.timer-inner {
    width: 100px; 
    height: 100px;
    background-color: #602365; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    flex-direction: column; 
}


.time-remaining {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    z-index: 1;
}


.time-text {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    position: absolute;
    top: 10px; 
}


.time-remaining-label {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 10px; 
}






/* main container that contains questions and options and covers the entire page */
.container {
    width: 100%;
    height: 100vh;
    display: grid; /* use the grid to arrange in the center */
    place-items: center; /* Place internal content in the center of the page */
    text-align: center;
}

/* main question */
.question-title {
    font-size: 36px;
    margin-bottom:0;
    color: #EAE8EF;
    font-weight: bold;
}

/* options */
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* imposta il layout a due colonne per le opzioni */
    gap: 20px; /* spazio tra le opzioni */
    width: 80%; /* la larghezza delle opzioni è l'80% della pagina */
    margin-top: 20px;
}

.option {
    background-color: transparent; 
    padding: 20px;
    border: 2px solid #ffffff; 
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: #EAE8EF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.option.selected {
    background-color: #900080; 
    color: white; 
    border-color: #900080;
}


/* nasconde i pulsanti di opzione predefiniti */
input[type="radio"] {
    display: none;
}

/* Stato della domanda (visualizza la domanda corrente) */
.question-status {
    font-size: 18px; 
    font-weight: bold; 
    color: #ECE8F0;
    margin-top: 10px; 
}

.question-status span {
    color: #f115b6dd; /* colore rosa per il numero di domande */
}