* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/src/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin-inline: 200px;
  padding-top: 3.65%;
}

header img {
  width: 170px;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  margin-top: 1;
  text-align: center;
  border: none;
  font-size: 25px;
  font-weight: bold;
  width: 250px;
  padding: 20px;
  background-color: #00ffff;
  box-shadow: 0 0 20px rgba(79, 255, 255, 1);
  text-shadow: 0 0 20px rgba(79, 255, 255, 1);
  color: #0b113b;
}

button:hover {
  background-color: #00c4c4;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-block: 20px;
}

main {
  text-align: center;
  margin-inline: 120px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

hr {
  border: 1px solid #D20094;
}

.stars {
  min-width: 40px;
  margin-inline: 8px;
}

.hide {
  display: none;
}

.newImagePage {
  margin-left: 310px;
  width: 280px;
  height: auto;
}

.newFeedbackPage {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 60px;
}

#alertStar {
  text-align: left;
  margin-top: 15px;
}

#feedback {
  text-align: start;
}

#textFeed {
  min-width: 95%;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 20px;
  margin-bottom: 7px;
  margin-top: 20px;
}